*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 4px solid black;
    margin: 24px;
    padding: 65px;
    display: flex;
    justify-content: space-between;

}

.box{
    border: 3px solid black;
    margin: 24px;
}

.box-wrapper{
    width: 45%;
}

.box-large{
    width: 45%;
}

.box-small{
    height: 50px;
}